//COLORS
// $color-primary: #ff8787;
$color-primary: #74c0fc;
$color-screen: #f1f3f5;
$color-screen--digits: #339af0;
$color-btn-op-hover: #a5d8ff;

//DEVICE SIZES
$phone-small:33em;
$phone: 33.75em;
$tab-small: 43em;
$tab-medium: 48em;
$tab-port: 50em;
$tab-land: 57em;
$large: 64em;
