@use "../abstracts/index" as *;

body {
  font-family: "Source Code Pro", monospace, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  min-height: 100vh;
  background-color: $color-primary;
}

.container {
  background-color: orangered;
  max-width: 40rem;
  min-height: 50rem;
  margin: 8rem auto;
  padding: 2.5rem 2rem;
  display: grid;
  grid-template-columns: 3rem repeat(4, 1fr) 3rem;
  grid-template-rows: repeat(12, 1fr);
  border-radius: 1.8rem;
}
