@use "../abstracts/index" as *;

body {
  font-family: "Source Code Pro", monospace, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  min-height: 100vh;
  background-color: $color-primary;
}

.container {
  background-color:orangered;
  max-width: 40rem;
  min-height: 60rem;
  margin:8rem auto;
  
}
