@use "../abstracts/index" as *;

body {
  font-family: "Source Code Pro", monospace, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  min-height: 100vh;
  background-color: $color-primary;
}

.container {
  background-color: orangered;
  max-width: 29rem;
  min-height: 43rem;
  margin: 8rem auto;
  padding: 7.3rem 3rem 2rem 3rem;
  display: flex;
  flex-direction: column;
  border-radius: 1.8rem;
}

.calculator {
  &-screen {
    background-color: yellowgreen;
    height: 5.8rem;
    margin-bottom: 4.5$mg-btn-small;
  }

  &-btns {
    background-color: lightblue;
  }
}
